<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap4ScaffoldTemplates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/navbar"%>
    <main role="main" class="mx-2 px-4">
      <div id="app">
        <%= yield %>
      </div>
    </main><!-- /.container -->

    <footer class="footer">
      <div class="mx-2 px-4">
        <span class="text-muted">Footer content will go here. Something like &copy; 2018. Company Name.</span>
      </div>
    </footer>
  </body>
</html>